* {
    box-sizing: border-box;
}

html {
    background-color: rgb(20, 20, 20);
    font-family: Montserrat;
    font-size: 22px;
    color: seashell;
}

header {
    margin-top: -72px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-bottom: 1px solid seashell;
    position: fixed;
    height: 70px;
    z-index: 999;
}

footer {
    display: flex;
    justify-self: center;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    font-size: 0.5em;
    z-index: 3;
}

/*-------------------------------------------------------------------------------------------------------------NEW CODE START*/

.navbar {
    font-size: 18px;
    background-image: rgb(20, 20, 20);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

a.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: seashell;
    font-size: 24px;
}

.active {
    display: block;
}

.mainGrid {
    margin-top: 72px;
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;

}

.backgroundImageWrap {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    background: black;
    display: inline-block;
    background-size: contain;
    line-height: 0;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    z-index: 1;
}

.backgroundImage {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    opacity: 40%;
    background-size: contain;
    background-position: center;
    width: 100%;
    min-width: 1000px;
    height: auto;
    max-height: 1000px;
    overflow: hidden;
    z-index: 2;
}

.aboutMe {
    /*margin-top: -100px;*/
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    z-index: 3;
}

.aboutMe h1 {
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}

.aboutMe p {
    font-size: 1em;
    text-align: center;
}

.empWords {
    font-weight: bold;
}

.aboutMe h3 {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

.aboutMe h4 {
    font-size: 1.2em;
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skillsContainer a {
    padding: 10px;
}

.socialsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialsContainer a {
    padding: 10px;
}

@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: -10px;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: rgb(20, 20, 20);
        font-weight: bold;
        background-color: seashell;
        border: none;
        border-radius: 2vh;
        transition: all 0.3s ease;
    }
}